@use "../../../styles/variables" as vars;

.container {
  width: 100%;
  max-width: vars.$breakpoint-xl;
  margin: 0 auto;
  padding: 0 vars.$spacing-md;

  @media (max-width: vars.$breakpoint-sm) {
    padding: 0 vars.$spacing-sm;
  }
}
