@import "../../../styles/variables";

.container {
  width: 100%;
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 0 $spacing-md;

  @media (max-width: $breakpoint-sm) {
    padding: 0 $spacing-sm;
  }
}
