@use "../../../styles/variables" as vars;

.card {
  background-color: vars.$color-white;
  padding: vars.$spacing-md;
  border-radius: 4px;
  border: 1px solid vars.$color-border;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(vars.$color-primary, 0.05);
  }
}

.icon {
  margin-bottom: vars.$spacing-sm;
  color: vars.$color-accent;
  font-size: 2rem;
}

.title {
  margin-bottom: vars.$spacing-sm;
  font-size: 1.25rem;
  color: vars.$color-primary;
}

.description {
  color: vars.$color-text-muted;
  line-height: 1.6;
}
